# Mod 11 Lab
### Answer all of the following questions in R. For question 1, choose any csv file you would like to work with.

## Question 1: Do the following tasks in R code:
- change your working directory to where your csv file is
- read in your chosen csv file and save it as a variable

## Question 2: Create and display the following dataframe in R

In [11]:
import pandas as pd
data = {'Animal':['Lion', 'Dog', 'Fish', 'Elephant', 'Mole'],'Rating':[5, 10, 4, 7, 3]}
df = pd.DataFrame(data)
df

     Animal  Rating
0      Lion       5
1       Dog      10
2      Fish       4
3  Elephant       7
4      Mole       3

## Question 3: Filter the dataframe so:
- only animals with a rating of 5 or higher are shown
- the ratings are in descending order

Hint: The equivalent Python code is shown before

Hint 2: This can be done either with base R, or with the `dplyr` package

In [18]:
df[(df['Rating'] >= 5)].sort_values(by=['Rating'], ascending=False)

     Animal  Rating
1       Dog      10
3  Elephant       7
0      Lion       5

## Question 4: Rewrite the following Python code in R syntax:

### 4a.

In [20]:
x = '5'
print(type(x))
x = int(5)
print(type(x))

int

### 4b

In [21]:
var_1 = 10
var_2 = 7

if var_1 >= var_2:
    print('var_1 is greater than or equal to var_2.')
else:
    print('var_1 is lesser than var_2.')

var_1 is greater than or equal to var_2.

### 4c

In [27]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5