In [17]:
from decouple import config
import pandas as pd
import sys
import socket
import requests
import requests_oauthlib
import json
from datetime import datetime

In [14]:
token = config('noaa_token', default='')

station_id = 'GHCND:USC00442208'

In [15]:
dates_temp = []
dates_prcp = []
temps = []
prcp = []

for year in range(2015, 2020):
    year = str(year)
    print('Year: ', year, sep='')
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00023129&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':token})
    d = json.loads(r.text)
    
    avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    dates_temp += [item['date'] for item in avg_temps]
    temps += [item['value'] for item in avg_temps]

Year: 2015
Year: 2016
Year: 2017
Year: 2018
Year: 2019

In [18]:
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0*1.8 + 32 for v in temps]

In [19]:
df_temp

           date  avgTemp
0    2015-01-01    46.58
1    2015-01-02    48.02
2    2015-01-03    49.82
3    2015-01-04    52.16
4    2015-01-05    58.64
...         ...      ...
1821 2019-12-27    49.10
1822 2019-12-28    50.90
1823 2019-12-29    51.26
1824 2019-12-30    54.68
1825 2019-12-31    58.46

[1826 rows x 2 columns]